<center>
<img src="../../img/ods_stickers.jpg">
## Open Machine Learning Course
<center>
Author: Yury Kashnitsky, Data Scientist at Mail.Ru Group

This material is subject to the terms and conditions of the license [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Free use is permitted for any non-comercial purpose with an obligatory indication of the names of the authors and of the source.

## <center>Assignment #6. Part 1
### <center> Beating benchmarks in "Catch Me If You Can: Intruder Detection through Webpage Session Tracking"
    
[Competition](https://www.kaggle.com/c/catch-me-if-you-can-intruder-detection-through-webpage-session-tracking2). The task is to beat "Assignment 6 baseline".

In [1]:
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline
from matplotlib import pyplot as plt
import seaborn as sns
import os
import numpy as np
import pandas as pd
from scipy.sparse import csr_matrix, hstack
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import roc_auc_score
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV
from sklearn.feature_extraction.text import TfidfVectorizer

Reading original data

In [2]:
PATH_TO_DATA = ('../../data')
train_df = pd.read_csv(os.path.join(PATH_TO_DATA, 'train_sessions.csv'), index_col='session_id')
test_df = pd.read_csv(os.path.join(PATH_TO_DATA, 'test_sessions.csv'), index_col='session_id')

In [3]:
#table = impute_nan_with_median(train_df)

Separate target feature

In [4]:
y = train_df['target']

Build Tf-Idf features based on sites. You can use `ngram_range`=(1, 3) and `max_features`=100000 or more

In [5]:
sites_table = train_df.drop(['time1', 'time2', 'time3', 'time4', 'time5', 'time6', 'time7', 'time8', 'time9', 'time10', 'target'], axis=1)

for col in sites_table.columns:
    sites_table[col]= sites_table[col].fillna(0)
    
tf_idf_sites = TfidfVectorizer(ngram_range=(1, 3),
                           max_features=100000).fit(sites_table)

Add features based on the session start time: hour, whether it's morning, day or night and so on.

In [6]:
time_table = train_df.drop(['site1', 'site2', 'site3', 'site4', 'site5', 'site6', 'site7', 'site8', 'site9', 'site10', 'target'], axis=1)

for col in time_table.columns:    
    time_table[col]= time_table[col].fillna(0)

In [70]:
time_table

,time1,time2,time3,time4,time5,time6,time7,time8,time9,time10
session_id,,,,,,,,,,
1,2014-02-20 10:02:45,0,0,0,0,0,0,0,0,0
2,2014-02-22 11:19:50,2014-02-22 11:19:50,2014-02-22 11:19:51,2014-02-22 11:19:51,2014-02-22 11:19:51,2014-02-22 11:19:51,2014-02-22 11:19:52,2014-02-22 11:19:52,2014-02-22 11:20:15,2014-02-22 11:20:16
3,2013-12-16 16:40:17,2013-12-16 16:40:18,2013-12-16 16:40:19,2013-12-16 16:40:19,2013-12-16 16:40:19,2013-12-16 16:40:19,2013-12-16 16:40:20,2013-12-16 16:40:21,2013-12-16 16:40:22,2013-12-16 16:40:24
4,2014-03-28 10:52:12,2014-03-28 10:52:42,2014-03-28 10:53:12,2014-03-28 10:53:42,2014-03-28 10:54:12,2014-03-28 10:54:42,2014-03-28 10:55:12,2014-03-28 10:55:42,2014-03-28 10:56:12,2014-03-28 10:56:42
5,2014-02-28 10:53:05,2014-02-28 10:55:22,2014-02-28 10:55:22,2014-02-28 10:55:23,2014-02-28 10:55:23,2014-02-28 10:55:59,2014-02-28 10:55:59,2014-02-28 10:55:59,2014-02-28 10:57:06,2014-02-28 10:57:11
6,2014-03-18 15:18:31,2014-03-18 15:18:39,2014-03-18 15:23:02,2014-03-18 15:23:43,2014-03-18 15:29:57,0,0,0,0,0
7,2014-02-13 16:45:35,2014-02-13 16:45:35,2014-02-13 16:45:35,2014-02-13 16:45:35,2014-02-13 16:46:05,2014-02-13 16:47:14,2014-02-13 16:47:14,2014-02-13 16:47:15,2014-02-13 16:47:16,2014-02-13 16:47:17
8,2013-04-12 10:27:26,2013-04-12 10:27:26,2013-04-12 10:27:28,2013-04-12 10:27:29,2013-04-12 10:27:29,2013-04-12 10:27:29,2013-04-12 10:27:29,2013-04-12 10:27:31,2013-04-12 10:27:31,2013-04-12 10:27:32
9,2014-03-17 16:23:08,2014-03-17 16:23:35,2014-03-17 16:23:35,2014-03-17 16:23:35,2014-03-17 16:23:36,2014-03-17 16:23:36,2014-03-17 16:23:36,2014-03-17 16:23:52,2014-03-17 16:23:52,2014-03-17 16:23:53
10,2014-02-20 16:09:13,2014-02-20 16:10:08,2014-02-20 16:10:08,2014-02-20 16:10:08,2014-02-20 16:10:24,2014-02-20 16:10:24,2014-02-20 16:10:29,2014-02-20 16:10:39,2014-02-20 16:10:40,2014-02-20 16:10:40
11,2014-01-27 09:41:01,2014-01-27 09:42:33,2014-01-27 09:42:33,2014-01-27 09:42:34,2014-01-27 09:42:34,2014-01-27 09:42:34,2014-01-27 09:42:34,2014-01-27 09:42:35,2014-01-27 09:42:40,2014-01-27 09:42:41
12,2014-01-22 13:05:21,2014-01-22 13:05:24,2014-01-22 13:05:32,2014-01-22 13:05:44,2014-01-22 13:05:44,2014-01-22 13:05:44,2014-01-22 13:05:44,2014-01-22 13:05:44,2014-01-22 13:05:44,2014-01-22 13:05:44
13,2014-03-31 13:51:43,2014-03-31 13:51:44,2014-03-31 13:51:46,2014-03-31 13:51:46,2014-03-31 13:52:45,2014-03-31 13:52:46,2014-03-31 13:54:43,2014-03-31 14:10:12,2014-03-31 14:10:12,2014-03-31 14:10:13
14,2014-04-04 13:12:14,2014-04-04 13:12:15,2014-04-04 13:12:16,2014-04-04 13:12:16,2014-04-04 13:12:23,2014-04-04 13:12:31,2014-04-04 13:12:42,2014-04-04 13:12:43,2014-04-04 13:12:44,2014-04-04 13:12:45
15,2014-03-22 11:33:00,2014-03-22 11:33:16,2014-03-22 11:33:19,2014-03-22 11:33:20,2014-03-22 11:33:21,2014-03-22 11:33:21,2014-03-22 11:33:22,2014-03-22 11:33:27,2014-03-22 11:33:27,2014-03-22 11:33:27
16,2014-02-04 09:31:46,2014-02-04 09:31:46,2014-02-04 09:31:47,2014-02-04 09:31:47,2014-02-04 09:31:47,2014-02-04 09:31:47,2014-02-04 09:31:47,2014-02-04 09:31:47,2014-02-04 09:31:47,2014-02-04 09:31:47
17,2014-02-24 08:06:14,2014-02-24 08:07:25,2014-02-24 08:07:26,2014-02-24 08:07:27,2014-02-24 08:07:27,2014-02-24 08:07:30,2014-02-24 08:07:31,2014-02-24 08:07:31,2014-02-24 08:07:31,2014-02-24 08:07:31
18,2013-02-12 15:15:14,2013-02-12 15:15:14,2013-02-12 15:16:26,2013-02-12 15:16:26,2013-02-12 15:16:29,2013-02-12 15:16:31,2013-02-12 15:16:31,2013-02-12 15:16:31,2013-02-12 15:16:31,2013-02-12 15:16:31
19,2013-04-12 11:06:58,2013-04-12 11:07:08,2013-04-12 11:07:19,2013-04-12 11:07:28,2013-04-12 11:07:38,2013-04-12 11:07:48,2013-04-12 11:07:58,2013-04-12 11:08:08,2013-04-12 11:08:18,2013-04-12 11:08:20
20,2014-01-29 11:27:15,2014-01-29 11:27:15,2014-01-29 11:27:16,2014-01-29 11:27:16,2014-01-29 11:27:16,2014-01-29 11:27:19,2014-01-29 11:27:20,2014-01-29 11:27:20,2014-01-29 11:27:20,2014-01-29 11:27:20
21,2013-05-12 12:52:12,2013-05-12 12:52:12,2013-05-12 12:52:12,2013-05-12 12:52:12,2013-05-12 12:52:13,2013-05-12 12:52:16,2013-05-12 12:52:16,2013-05-12 12:52:16,2013-05-12 12:52:35,2013-05-12 12:52:39
22,2014-02-04 09:59:41,2014-02-04 09:59:55,2014-02-04 09:59:56,2014-02-04 09:59:58,2014-02-04 10:00:56,2014-02-04 10:00:56,2014-02-04 10:00:57,2014-02-04 10:00:57,2014-02-04 10:02:48,0
23,2014-03-26 11:27:00,2014-03-26 11:27:30,2014-03-26 11:28:00,2014-03-26 11:28:30,2014-03-26 11:29:00,2014-03-26 11:29:30,2014-03-26 11:29:55,2014-03-26 11:29:57,2014-03-26 11:30:00,2014-03-26 11:30:30
24,2013-12-12 20:51:18,0,0,0,0,0,0,0,0,0
25,2013-11-21 12:59:23,2013-11-21 12:59:24,2013-11-21 12:59:25,2013-11-21 13:00:23,2013-11-21 13:00:24,2013-11-21 13:00:25,2013-11-21 13:00:30,2013-11-21 13:00:30,2013-11-21 13:00:30,2013-11-21 13:00:32
26,2013-02-12 10:17:09,2013-02-12 10:17:09,2013-02-12 10:17:21,2013-02-12 10:18:06,2013-02-12 10:18:06,2013-02-12 10:18:51,2013-02-12 10:19:33,2013-02-12 10:19:33,2013-02-12 10:19:36,2013-02-12 10:20:21
27,2014-02-04 08:47:31,2014-02-04 08:47:31,2014-02-04 08:47:31,2014-02-04 08:47:31,2014-02-04 08:47:31,2014-02-04 08:47:32,2014-02-04 08:47:32,2014-02-04 08:47:32,2014-02-04 08:48:28,2014-02-04 08:48:32
28,2014-03-25 10:43:58,2014-03-25 10:44:00,2014-03-25 10:44:05,2014-03-25 10:44:06,2014-03-25 10:44:08,2014-03-25 10:44:09,2014-03-25 10:44:20,2014-03-25 10:44:33,2014-03-25 10:44:34,2014-03-25 10:44:40
29,2013-11-29 13:20:21,2013-11-29 13:20:22,2013-11-29 13:20:23,2013-11-29 13:20:26,2013-11-29 13:20:26,2013-11-29 13:20:26,2013-11-29 13:20:26,2013-11-29 13:20:26,2013-11-29 13:20:27,2013-11-29 13:20:27
30,2014-04-15 14:55:40,2014-04-15 14:55:41,2014-04-15 14:55:42,2014-04-15 14:55:42,2014-04-15 14:55:43,2014-04-15 14:55:43,2014-04-15 14:55:43,0,0,0
...,...,...,...,...,...,...,...,...,...,...
253532,2014-01-30 09:14:23,2014-01-30 09:14:45,2014-01-30 09:14:56,2014-01-30 09:14:57,2014-01-30 09:15:07,2014-01-30 09:15:08,2014-01-30 09:15:22,2014-01-30 09:15:22,2014-01-30 09:16:31,2014-01-30 09:16:32
253533,2014-02-25 10:31:36,2014-02-25 10:31:36,2014-02-25 10:31:36,2014-02-25 10:31:38,2014-02-25 10:31:39,2014-02-25 10:31:40,2014-02-25 10:31:41,2014-02-25 10:31:42,2014-02-25 10:31:42,2014-02-25 10:31:45
253534,2014-03-25 14:52:48,2014-03-25 14:52:48,2014-03-25 14:52:49,2014-03-25 14:52:49,2014-03-25 14:52:49,2014-03-25 14:52:50,2014-03-25 14:52:50,2014-03-25 14:52:50,2014-03-25 14:52:50,2014-03-25 14:52:51
253535,2013-11-25 10:48:37,2013-11-25 10:48:50,2013-11-25 10:49:02,2013-11-25 10:49:14,2013-11-25 10:49:26,2013-11-25 10:49:38,2013-11-25 10:49:50,2013-11-25 10:50:02,2013-11-25 10:50:14,2013-11-25 10:50:26
253536,2014-03-30 12:54:10,2014-03-30 12:54:18,2014-03-30 12:54:18,2014-03-30 12:54:18,2014-03-30 12:54:19,2014-03-30 12:54:19,2014-03-30 12:54:19,2014-03-30 12:54:25,2014-03-30 12:54:27,2014-03-30 12:54:28
253537,2013-12-16 10:01:48,2013-12-16 10:01:51,2013-12-16 10:02:03,2013-12-16 10:02:11,2013-12-16 10:02:14,2013-12-16 10:02:22,2013-12-16 10:02:23,2013-12-16 10:02:23,2013-12-16 10:02:23,2013-12-16 10:02:23
253538,2014-02-04 13:59:54,2014-02-04 14:03:58,2014-02-04 14:03:58,0,0,0,0,0,0,0
253539,2013-11-22 16:48:11,2013-11-22 16:48:12,2013-11-22 16:48:13,2013-11-22 16:48:13,2013-11-22 16:48:13,2013-11-22 16:48:14,2013-11-22 16:48:14,2013-11-22 16:48:15,2013-11-22 16:48:16,2013-11-22 16:48:16
253540,2014-02-18 10:33:46,2014-02-18 10:33:46,2014-02-18 10:33:46,2014-02-18 10:33:46,2014-02-18 10:33:47,2014-02-18 10:33:47,2014-02-18 10:33:48,2014-02-18 10:33:48,2014-02-18 10:33:48,2014-02-18 10:33:49
253541,2014-03-17 10:14:03,2014-03-17 10:14:33,2014-03-17 10:14:43,2014-03-17 10:14:52,2014-03-17 10:14:53,2014-03-17 10:14:59,2014-03-17 10:15:01,2014-03-17 10:15:01,2014-03-17 10:15:03,2014-03-17 10:15:03
253542,2014-01-22 15:59:12,2014-01-22 15:59:12,2014-01-22 15:59:12,2014-01-22 15:59:13,2014-01-22 15:59:13,2014-01-22 15:59:13,2014-01-22 15:59:16,2014-01-22 15:59:17,2014-01-22 15:59:17,2014-01-22 15:59:18
253543,2014-03-25 17:36:09,2014-03-25 17:36:09,2014-03-25 17:36:09,2014-03-25 17:36:11,2014-03-25 17:36:11,2014-03-25 17:36:11,2014-03-25 17:36:11,2014-03-25 17:36:53,2014-03-25 17:36:58,2014-03-25 17:36:58
253544,2013-04-12 16:06:02,2013-04-12 16:06:02,2013-04-12 16:06:08,2013-04-12 16:06:09,2013-04-12 16:06:09,2013-04-12 16:06:10,2013-04-12 16:06:10,2013-04-12 16:06:11,2013-04-12 16:06:11,2013-04-12 16:06:11
253545,2014-04-20 17:21:48,2014-04-20 17:21:49,2014-04-20 17:21:51,2014-04-20 17:21:54,2014-04-20 17:21:57,2014-04-20 17:21:59,2014-04-20 17:22:01,2014-04-20 17:22:05,2014-04-20 17:22:08,0
253546,2014-02-24 10:13:49,2014-02-24 10:14:02,2014-02-24 10:14:03,2014-02-24 10:14:03,2014-02-24 10:14:03,2014-02-24 10:14:03,2014-02-24 10:14:04,2014-02-24 10:14:11,2014-02-24 10:14:59,2014-02-24 10:14:59
253547,2014-02-27 14:53:54,2014-02-27 14:53:54,2014-02-27 14:53:57,2014-02-27 14:53:57,2014-02-27 14:53:58,2014-02-27 14:53:58,2014-02-27 14:53:58,2014-02-27 14:53:58,2014-02-27 14:55:41,2014-02-27 14:55:42
253548,2013-11-29 13:18:12,2013-11-29 13:18:56,2013-11-29 13:20:46,2013-11-29 13:21:22,2013-11-29 13:21:46,2013-11-29 13:21:55,2013-11-29 13:23:56,2013-11-29 13:25:09,2013-11-29 13:25:46,2013-11-29 13:25:58
253549,2014-02-17 16:53:26,2014-02-17 16:53:39,2014-02-17 16:53:43,2014-02-17 16:53:45,2014-02-17 16:53:45,2014-02-17 16:53:48,2014-02-17 16:53:48,2014-02-17 16:53:49,2014-02-17 16:53:49,2014-02-17 16:53:49
253550,2014-03-24 11:49:51,2014-03-24 11:49:51,2014-03-24 11:49:53,2014-03-24 11:49:56,2014-03-24 11:50:02,2014-03-24 11:50:02,2014-03-24 11:50:03,2014-03-24 11:50:05,2014-03-24 11:50:05,2014-03-24 11:50:05
253551,2014-03-26 14:11:42,2014-03-26 14:21:17,2014-03-26 14:23:57,2014-03-26 14:25:17,2014-03-26 14:27:57,2014-03-26 14:35:40,2014-03-26 14:35:42,2014-03-26 14:39:41,2014-03-26 14:39:42,0
253552,2014-02-19 15:05:24,2014-02-19 15:05:24,2014-02-19 15:05:25,2014-02-19 15:05:57,2014-02-19 15:05:57,2014-02-19 15:06:11,2014-02-19 15:09:39,2014-02-19 15:09:39,2014-02-19 15:14:15,2014-02-19 15:14:25
253553,2013-11-15 08:34:48,2013-11-15 08:34:49,2013-11-15 08:34:59,2013-11-15 08:35:00,2013-11-15 08:35:01,2013-11-15 08:35:03,2013-11-15 08:35:04,2013-11-15 08:35:15,2013-11-15 08:35:16,2013-11-15 08:35:17
253554,2014-04-15 13:11:32,2014-04-15 13:11:34,2014-04-15 13:11:35,2014-04-15 13:11:37,2014-04-15 13:11:38,2014-04-15 13:11:50,2014-04-15 13:11:52,2014-04-15 13:11:54,2014-04-15 13:11:55,2014-04-15 13:11:58
253555,2014-01-29 09:24:35,2014-01-29 09:24:35,2014-01-29 09:24:42,2014-01-29 09:24:46,2014-01-29 09:25:12,2014-01-29 09:25:13,2014-01-29 09:25:16,2014-01-29 09:25:24,2014-01-29 09:25:25,2014-01-29 09:25:26
253556,2013-04-12 13:11:57,2013-04-12 13:12:01,2013-04-12 13:12:03,2013-04-12 13:12:03,2013-04-12 13:12:06,2013-04-12 13:12:06,2013-04-12 13:12:07,2013-04-12 13:12:09,2013-04-12 13:12:12,2013-04-12 13:12:13
253557,2013-11-25 10:26:54,2013-11-25 10:26:58,2013-11-25 10:27:03,2013-11-25 10:27:04,2013-11-25 10:27:13,2013-11-25 10:27:16,2013-11-25 10:27:28,2013-11-25 10:27:40,2013-11-25 10:27:52,2013-11-25 10:27:53
253558,2013-03-12 16:01:15,2013-03-12 16:01:16,2013-03-12 16:01:16,2013-03-12 16:01:17,2013-03-12 16:01:17,2013-03-12 16:01:17,2013-03-12 16:01:18,2013-03-12 16:01:18,2013-03-12 16:01:18,2013-03-12 16:01:18
253559,2013-09-12 14:05:03,2013-09-12 14:05:10,2013-09-12 14:05:10,2013-09-12 14:06:29,2013-09-12 14:06:30,0,0,0,0,0
253560,2013-12-19 15:20:22,2013-12-19 15:20:22,2013-12-19 15:20:22,2013-12-19 15:20:22,2013-12-19 15:20:22,2013-12-19 15:20:23,2013-12-19 15:20:23,2013-12-19 15:20:23,2013-12-19 15:20:24,2013-12-19 15:20:24
253561,2014-04-25 09:56:52,2014-04-25 09:56:53,2014-04-25 09:56:53,2014-04-25 09:56:54,2014-04-25 09:56:54,2014-04-25 09:56:54,2014-04-25 09:56:54,2014-04-25 09:56:55,2014-04-25 09:56:55,2014-04-25 09:56:55

In [72]:
pd.Timestamp(time_table.iloc[0][0]).second

45

In [73]:
v = pd.DataFrame([(1, 2)],
                 columns=['a', 'b'])

In [74]:
v.append(pd.DataFrame([(1, 2)],
                 columns=['a', 'b']), ignore_index=True)

   a  b
0  1  2
1  1  2

In [84]:
h = pd.DataFrame(columns=['пн', 'вт', 'ср', 'чт', 'пт', 'сб', 'вс', 'час', 'мин', 'сек', 'год', 'месяц', 'день',
                         'пн', 'вт', 'ср', 'чт', 'пт', 'сб', 'вс', 'час', 'мин', 'сек', 'год', 'месяц', 'день',
                         'пн', 'вт', 'ср', 'чт', 'пт', 'сб', 'вс', 'час', 'мин', 'сек', 'год', 'месяц', 'день',
                         'пн', 'вт', 'ср', 'чт', 'пт', 'сб', 'вс', 'час', 'мин', 'сек', 'год', 'месяц', 'день',
                         'пн', 'вт', 'ср', 'чт', 'пт', 'сб', 'вс', 'час', 'мин', 'сек', 'год', 'месяц', 'день',
                         'пн', 'вт', 'ср', 'чт', 'пт', 'сб', 'вс', 'час', 'мин', 'сек', 'год', 'месяц', 'день',
                         'пн', 'вт', 'ср', 'чт', 'пт', 'сб', 'вс', 'час', 'мин', 'сек', 'год', 'месяц', 'день',
                         'пн', 'вт', 'ср', 'чт', 'пт', 'сб', 'вс', 'час', 'мин', 'сек', 'год', 'месяц', 'день',
                         'пн', 'вт', 'ср', 'чт', 'пт', 'сб', 'вс', 'час', 'мин', 'сек', 'год', 'месяц', 'день',
                         'пн', 'вт', 'ср', 'чт', 'пт', 'сб', 'вс', 'час', 'мин', 'сек', 'год', 'месяц', 'день'])

In [85]:
h

Empty DataFrame
Columns: [пн, вт, ср, чт, пт, сб, вс, час, мин, сек, год, месяц, день, пн, вт, ср, чт, пт, сб, вс, час, мин, сек, год, месяц, день, пн, вт, ср, чт, пт, сб, вс, час, мин, сек, год, месяц, день, пн, вт, ср, чт, пт, сб, вс, час, мин, сек, год, месяц, день, пн, вт, ср, чт, пт, сб, вс, час, мин, сек, год, месяц, день, пн, вт, ср, чт, пт, сб, вс, час, мин, сек, год, месяц, день, пн, вт, ср, чт, пт, сб, вс, час, мин, сек, год, месяц, день, пн, вт, ср, чт, пт, сб, вс, час, мин, ...]
Index: []

[0 rows x 130 columns]

In [ ]:
h = 0
for i in range(time_table.shape[0]):
    count = 0
    b = []
    for j in range(len(time_table.ilocp[0]) - 1):
        if time_table.iloc[i][j] == 0: continue
        if pd.Timestamp(time_table.iloc[i][j]).dayofweek = 0:
         b.append((1, 0, 0, 0, 0, 0, 0, 
                   pd.Timestamp(time_table.iloc[i][j]).hour,
                  pd.Timestamp(time_table.iloc[i][j]).minute,
                  pd.Timestamp(time_table.iloc[i][j]).second,
                  pd.Timestamp(time_table.iloc[i][j]).year,
                  pd.Timestamp(time_table.iloc[i][j]).month,
                  pd.Timestamp(time_table.iloc[i][j]).day))   
        elif pd.Timestamp(time_table.iloc[i][j]).dayofweek = 1:
            b.append((0, 1, 0, 0, 0, 0, 0, pd.Timestamp(time_table.iloc[i][j]).hour,
                  pd.Timestamp(time_table.iloc[i][j]).minute,
                  pd.Timestamp(time_table.iloc[i][j]).second,
                  pd.Timestamp(time_table.iloc[i][j]).year,
                  pd.Timestamp(time_table.iloc[i][j]).month,
                  pd.Timestamp(time_table.iloc[i][j]).day))
        elif pd.Timestamp(time_table.iloc[i][j]).dayofweek = 2:
            b.append((0, 0, 1, 0, 0, 0, 0, pd.Timestamp(time_table.iloc[i][j]).hour,
                  pd.Timestamp(time_table.iloc[i][j]).minute,
                  pd.Timestamp(time_table.iloc[i][j]).second,
                  pd.Timestamp(time_table.iloc[i][j]).year,
                  pd.Timestamp(time_table.iloc[i][j]).month,
                  pd.Timestamp(time_table.iloc[i][j]).day))
        elif pd.Timestamp(time_table.iloc[i][j]).dayofweek = 3:
            b.append((0, 0, 0, 1, 0, 0, 0, pd.Timestamp(time_table.iloc[i][j]).hour,
                  pd.Timestamp(time_table.iloc[i][j]).minute,
                  pd.Timestamp(time_table.iloc[i][j]).second,
                  pd.Timestamp(time_table.iloc[i][j]).year,
                  pd.Timestamp(time_table.iloc[i][j]).month,
                  pd.Timestamp(time_table.iloc[i][j]).day))
        elif pd.Timestamp(time_table.iloc[i][j]).dayofweek = 4:
            b.append((0, 0, 0, 0, 1, 0, 0, pd.Timestamp(time_table.iloc[i][j]).hour,
                  pd.Timestamp(time_table.iloc[i][j]).minute,
                  pd.Timestamp(time_table.iloc[i][j]).second,
                  pd.Timestamp(time_table.iloc[i][j]).year,
                  pd.Timestamp(time_table.iloc[i][j]).month,
                  pd.Timestamp(time_table.iloc[i][j]).day))
        elif pd.Timestamp(time_table.iloc[i][j]).dayofweek = 5:
            b.append((0, 0, 0, 0, 0, 1, 0, pd.Timestamp(time_table.iloc[i][j]).hour,
                  pd.Timestamp(time_table.iloc[i][j]).minute,
                  pd.Timestamp(time_table.iloc[i][j]).second,
                  pd.Timestamp(time_table.iloc[i][j]).year,
                  pd.Timestamp(time_table.iloc[i][j]).month,
                  pd.Timestamp(time_table.iloc[i][j]).day))
        elif pd.Timestamp(time_table.iloc[i][j]).dayofweek = 6:
            b.append((0, 0, 0, 0, 0, 0, 1, pd.Timestamp(time_table.iloc[i][j]).hour,
                  pd.Timestamp(time_table.iloc[i][j]).minute,
                  pd.Timestamp(time_table.iloc[i][j]).second,
                  pd.Timestamp(time_table.iloc[i][j]).year,
                  pd.Timestamp(time_table.iloc[i][j]).month,
                  pd.Timestamp(time_table.iloc[i][j]).day))
            
        
        b = pd.Timestamp(time_table.iloc[i][j])

Scale this features and combine then with Tf-Idf based on sites (you'll need `scipy.sparse.hstack`)

In [ ]:
#ddd

Perform cross-validation with logistic regression.

In [ ]:
# You code here

Make prediction for the test set and form a submission file.

In [ ]:
test_pred = # You code here

In [ ]:
def write_to_submission_file(predicted_labels, out_file,
                             target='target', index_label="session_id"):
    predicted_df = pd.DataFrame(predicted_labels,
                                index = np.arange(1, predicted_labels.shape[0] + 1),
                                columns=[target])
    predicted_df.to_csv(out_file, index_label=index_label)

In [ ]:
write_to_submission_file(test_pred, "assignment6_alice_submission.csv")